/* Start Main Rules */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	overflow: overlay;
	min-height: 100vh;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
	background-image: url("../images/background.png");
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	min-width: 100vw;
	height: 100vh;
}
.wrapper-overlay {
	content: "";
	position: absolute;
	min-width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	background-color: rgba(224, 224, 224, 0.2);
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* Small */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* End Main Rules */
/* Start Box */
.main-box {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 2;
	background-color: rgba(185, 40, 40, 0.54);
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 1;
	transition: 0.5s;
	min-width: 70vw;
}
.main-box .logo {
	/* padding: 0 160px; */
	margin: auto;
	animation: showlogo 0.8s;
}
.main-box .logo img {
	max-width: 450px;
}
.main-box h2 {
	margin-top: 0px;
	font-size: 40px;
	color: #1c0202;
	font-weight: 900;
	max-width: 78%;
	margin-bottom: 0;
	animation: showother 1s;
	text-align: center;
	margin: auto;
}
.main-box p {
	margin: 10px auto 40px;
	max-width: 68%;
	animation: showother 1s;
}
.main-box button {
	color: white;
	background-color: rgb(255 255 255 / 24%);
	border: 5px solid #fff;
	border-radius: 20px;
	font-size: 20px;
	padding: 18px 40px;
	margin-bottom: 80px;
	cursor: pointer;
	transition: 0.5s;
	width: 178px;
	animation: showother 1.3s;
}
.main-box button:hover {
	width: 200px;
}
.first-box {
	min-width: 70%;
	position: absolute;
	left: 50%;
	top: 98%;
	transform: translate(-50%, -50%);
	background-color: rgba(185, 40, 40, 0.54);
	text-align: center;
	border-radius: 6px;
	margin: auto;
	display: none;
	transition: 0.5s;
}
.first-box h3 {
	font-size: 30px;
	padding-top: 30px;
	font-family: serif;
	animation: 1s showother;
}
.first-box .ques {
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(255 255 255 / 24%);
	border-radius: 20px;
	max-width: 80%;
	margin: auto;
	margin-bottom: 15px;
	padding: 5px;
	border: 1px solid white;
	max-width: 400px;
	cursor: pointer;
	position: relative;
	animation: 1s showother;
}
.first-box .ques .overlay {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(255 255 255 / 29%);
	height: 100%;
	width: 0;
	border-radius: 20px;
	transition: 0.5s;
}
.first-box .ques p {
	text-transform: uppercase;
	font-size: 14px;
	flex: 1;
	max-width: 80%;
}
.first-box label {
	position: relative;
}
.first-box .ques input {
	display: none;
}
.first-box .icon-contanier {
	position: absolute;
	right: 15px;
	border-radius: 50%;
	border: 2px solid white;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}
.first-box .icon-contanier i {
	font-size: 14px;
	transform: scale(0);
	transition: 0.3s;
}
.first-box .ques input:checked + .icon-contanier i {
	transform: scale(1);
}
.first-box .first-next {
	color: white;
	background-color: rgb(255 255 255 / 24%);
	padding: 20px 60px;
	border-radius: 25px;
	margin-top: 50px;
	border: 1px solid white;
	cursor: pointer;
	transition: 0.5s;
}
.first-box .first-next:hover {
	padding-right: 70px;
	padding-left: 70px;
}
.first-box .first-back {
	display: block;
	color: white;
	background-color: rgb(255 255 255 / 24%);
	padding: 20px 60px;
	border-radius: 25px;
	margin-top: 50px;
	border: 1px solid white;
	margin-bottom: 90px;
	cursor: pointer;
	transition: 0.5s;
	margin-left: 50px;
}
.first-box .first-back:hover {
	padding-right: 70px;
	padding-left: 70px;
}
.second-box {
	width: 60%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(185, 40, 40, 0.54);
	text-align: center;
	border-radius: 6px;
	padding-left: 100px;
	padding-right: 100px;
	display: none;
	transition: 0.5s;
	opacity: 1;
}
.second-box h3 {
	font-size: 30px;
	padding-top: 30px;
	font-family: serif;
	animation: 1s showother;
}
.second-box .ques {
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(255 255 255 / 24%);
	border-radius: 20px;
	max-width: 80%;
	margin: auto;
	margin-bottom: 15px;
	padding: 5px;
	border: 1px solid white;
	max-width: 400px;
	cursor: pointer;
	position: relative;
	animation: 1s showother;
	transition: 1s;
	opacity: 1;
	transform: translateX(0);
}
.second-box .ques .overlay {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(255 255 255 / 29%);
	height: 100%;
	width: 0;
	border-radius: 20px;
	transition: 0.5s;
}
.second-box .ques p {
	text-transform: uppercase;
	font-size: 14px;
	flex: 1;
	max-width: 80%;
}
.second-box label {
	position: relative;
}
.second-box .ques input {
	display: none;
}
.second-box .icon-contanier {
	position: absolute;
	right: 15px;
	border-radius: 50%;
	border: 2px solid white;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}
.second-box .icon-contanier .icon {
	width: 85%;
	height: 80%;
	background-color: white;
	border-radius: 50%;
	transform: scale(0);
	transition: 0.3s;
}
.second-box .ques input:checked + .icon-contanier .icon {
	transform: scale(1);
}
.second-box .second-back {
	display: block;
	margin: 60px 0;
	color: white;
	background-color: rgb(255 255 255 / 24%);
	border: 1px solid white;
	padding: 18px 60px;
	border-radius: 25px;
	cursor: pointer;
	transition: 0.5s;
}
.second-box .second-back:hover {
	padding-left: 70px;
	padding-right: 70px;
}
.third-box {
	width: 60%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(185, 40, 40, 0.54);
	text-align: center;
	border-radius: 6px;
	padding-left: 100px;
	padding-right: 100px;
	display: none;
	transition: 0.5s;
	opacity: 1;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.third-box h3 {
	font-size: 30px;
	padding-top: 30px;
	font-family: serif;
	animation: 1s showother;
}
.third-box .box {
	margin-bottom: 30px;
	position: relative;
}
.third-box label {
	position: absolute;
	font-size: 20px;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	animation: showlabel 0.7s;
}
.third-box input {
	font-size: 20px;
	width: 400px;
	margin: auto;
	height: 50px;
	display: block;
	border-radius: 10px;
	border: 1px solid white;
	background-color: rgb(224 255 250 / 28%);
	animation: showother 1s;
}
.third-box .box input[name="name"] {
	padding-left: 70px;
}
.third-box .box input[name="email"] {
	padding-left: 70px;
}
.third-box .box input[name="phone"] {
	padding-left: 75px;
}
.third-box .third-next {
	display: block;
	color: white;
	background-color: rgb(255 255 255 / 24%);
	border: 1px solid white;
	padding: 18px 60px;
	border-radius: 25px;
	cursor: pointer;
	transition: 0.5s;
	margin-top: 30px;
}
.third-box .third-next:hover {
	padding-left: 70px;
	padding-right: 70px;
}
.third-box .third-back {
	display: block;
	margin: 40px 0 30px 0;
	color: white;
	background-color: rgb(255 255 255 / 24%);
	border: 1px solid white;
	padding: 18px 60px;
	border-radius: 25px;
	cursor: pointer;
	transition: 0.5s;
}
.third-box .third-back:hover {
	padding-left: 70px;
	padding-right: 70px;
}
@media (max-width: 800px) {
	.main-box {
		width: 100%;
		height: 100%;
		position: relative;
		top: 0;
		left: 0;
		transform: translate(0);
		height: 100vh;
		padding-top: 60px;
	}
	.main-box .logo {
		margin: auto;
		width: 100vw;
	}
	.main-box .logo img {
		max-width: 300px;
	}
	.first-box {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(0);
		height: 200vh;
		padding-top: 60px;
	}
	.second-box {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(0);
		height: 100vh;
		padding-top: 60px;
	}
	.third-box {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(0);
		height: 100vh;
		padding-top: 60px;
	}
}
/* End Box */
/* Start Animations */
@keyframes showlogo {
	0% {
		transform: translateY(20px);
		opacity: 0.5;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes showother {
	0% {
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes fill {
	100% {
		background-color: rgb(255 255 255 / 38%);
	}
}
@keyframes showlabel {
	0% {
		transform: translateY(50px);
	}
	100% {
		transform: translateY(0);
	}
}
/* End Animations */
